
.cart {
    @include cart($first-page-buttons-color,$black-color ,$title-color)

}

.sec-cart {
    @include cart($sec-page-buttons-color,$black-color ,$title-color)
}




@media (max-width:767px) {
    .cart {
        margin-top: 120px;
        padding: 60px 0;
        border-top: 1px solid $desc-color;

        .media {
            display: block;
            
            img {
                margin: 15px auto;
            }

            .media-body {
                margin: 25px 0px;
            }
        }
    }

    .sec-cart {
        margin-top: 120px;
        padding: 60px 0;
        border-top: 1px solid $desc-color;

        .media {
            display: block;
            
            img {
                margin: 15px auto;
            }

            .media-body {
                margin: 25px 0px;
            }
        }
    }


    
}


