$golden-color:#f8ad47;

.gallery {
    padding: 70px 0;

    .title {
        margin-bottom: 40px;
        font-weight: bolder;

        .blue-icon  {
            color: $first-page-buttons-color;
            font-size: 35px;
        }
    }
}




.sec-gallery {
    padding: 70px 0;

    .title {
        margin-bottom: 40px;
        font-weight: bolder;
    }

    .blue-icon  {
        color: $sec-page-buttons-color;
        font-size: 35px;
    }
}

















