@mixin gallery ($buttonsColor) {
    padding: 70px 0;
    .title {
        margin-bottom: 40px;
        font-weight: bolder;

        .blue-icon  {
            color: $buttonsColor;
            font-size: 35px;
        }
    }
}

.gallery {
    @include gallery($first-page-buttons-color)
}


.sec-gallery {
    @include gallery($sec-page-buttons-color)
}

















