$title-color:#fff;
$desc-color:#d8d8d0;

$first-page-backgrond-color:#00639F;
$first-page-buttons-color: #2DA3E2;
$sec-page-background-color: #7c4b2f;
$sec-page-buttons-color:#80401A;


$black-color:#000;
$golden-color:#f8ad47;